
.kalendae, .kalendae.k-floating {
    width: 960px / 12 * 3 - 30px;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    border: 1px solid $primary-color;
    border-top: 0;
    border-radius: 0;
    background-color: #222;
    color: #FFF;
    padding: 9px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .k-btn-next-month, .k-btn-previous-year, .k-btn-next-year, .k-btn-previous-month {
        top: 0;
    }

    .k-btn-close {
        display: none;
    }

    .k-calendar, .k-title {
        width: 100%;
        height: auto;

        .k-caption {
            font-size: 1rem;
            line-height: 1;
        }

        .k-header {
            width: 100%;
            border-bottom: 1px solid #666;
            margin-bottom: 4px;

            span {
                margin: 0;
                font-weight: normal;
                color: #FFF;
                width: 27px;
                font-weight: 300;
                font-size: 13px;
            }
        }

        .k-days {
            width: 100%;

            span.k-in-month, span.k-out-of-month {
                margin: 0;
                border: 0;
                border-radius: 0;
            }

            span.k-in-month.k-active  {
                background-color: lighten(#000, 25%);
                color: #FFF;
            }

            span.k-in-month.k-today  {
                text-decoration: none;
                background-color: lighten(#000, 50%);
            }

            span.k-in-month.k-selected  {
                background-color: #136a9f;
                color: #FFF;
            }

            span {
                width: 27px;
                height: 22px;
                font-size: 13px;
                padding-right: 7px;
                padding-top: 4px;

                &.k-out-of-month.k-active {
                    background: none;
                }
            }
        }
    }
}
