// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import 'normalize';
@import 'settings';

// Make sure the charset is set appropriately
@charset 'UTF-8';

// Behold, here are all the Foundation components.
@import 'foundation/components/grid';
@import 'foundation/components/accordion';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/block-grid';
@import 'foundation/components/breadcrumbs';
@import 'foundation/components/button-groups';
@import 'foundation/components/buttons';
@import 'foundation/components/clearing';
@import 'foundation/components/dropdown';
@import 'foundation/components/dropdown-buttons';
@import 'foundation/components/flex-video';
@import 'foundation/components/forms';
@import 'foundation/components/icon-bar';
@import 'foundation/components/inline-lists';
@import 'foundation/components/joyride';
@import 'foundation/components/keystrokes';
@import 'foundation/components/labels';
@import 'foundation/components/magellan';
@import 'foundation/components/orbit';
@import 'foundation/components/pagination';
@import 'foundation/components/panels';
@import 'foundation/components/pricing-tables';
@import 'foundation/components/progress-bars';
@import 'foundation/components/range-slider';
@import 'foundation/components/reveal';
@import 'foundation/components/side-nav';
@import 'foundation/components/split-buttons';
@import 'foundation/components/sub-nav';
@import 'foundation/components/switches';
@import 'foundation/components/tables';
@import 'foundation/components/tabs';
@import 'foundation/components/thumbs';
@import 'foundation/components/tooltips';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';
@import 'foundation/components/offcanvas';
@import 'foundation/components/visibility';

@import "datepicker";

body {
    background: #222;
}

.button {
    background-color: inherit;
    border: 1px solid $primary-color;
    font-size: 0.875rem;
    line-height: 0.2;
    margin-bottom: 0;
    transition: box-shadow .05s ease-in-out;

    &:hover {
        background: inherit;
        box-shadow: inset 0px 0px 0px 2px rgba($primary-color, 1);
    }
}

a {
    &:hover {
        color: $primary-color;
    }
}

ul.pagination {
    margin: 1rem 0;
}

iframe {
    margin: 0 auto;
    display: block;
    padding-top: 1rem ;
}

a {
    color: #fff;
    font-size: 0.9rem;
}

.padded {
    margin-top: 1rem;
    display: block;
}

#ap-header {
    background: #333333;
    text-align: center;
}

#header {
    padding: 2rem 0 1rem 0;
    background: black;

    .inline {
        display: inline-block;
    }

    h5 {
        color: $primary-color;
    }

    nav {
        ul {
            li, .menu {
                text-align: center;

                img {
                    border: 1px solid $primary-color;
                    margin-bottom: -3px;

                    &:hover {
                        border: 4px solid $primary-color;
                        margin-bottom: -3px;
                        margin-top: -1px;
                    }
                }
            }
        }
    }
}

section.publish {
    margin: 1rem 0;
}
#selector {
    margin-top: 1rem;
    color: #FFF;

    .fullwidth {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: initial;
        background-color: #141414;

        .row {
            padding-top: 1.5rem;
            padding-bottom: .5rem;
        }
    }

    select, input {
        color: #FFF;
        border: 1px solid $primary-color;
        background: url("/images/arrow_down.svg") no-repeat right 10px top .9rem;
        background-size: 1rem;
        padding-right: 2rem;

        &.date {
            &:focus {
                border-bottom: 0;
            }
        }
    }

    .button {
        background-color: inherit;
        border: 1px solid $primary-color;
        font-size: 0.875rem;
        line-height: 1;
        margin-bottom: 0;
    }
}

.form-section {
    background-color: #222;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    color: #ccc;

    .row {
        background-color: #333;
        padding: 0.5rem 0;
    }

    h4 {
        color: #ccc;
    }

    table {
        background-color: #333;
        border: 0;
        width: 100%;
        margin-bottom: 0;

        td {
            vertical-align: top;
            padding-left: 0;
            padding-right: 1rem;

            &.image {
                width: 20%;
                vertical-align: top;
                padding-left: 1rem;
            }

            &.image-upload {
                width: 25%;
            }

            &.actions {
                width: 10%;
            }
        }

        tr {
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;

            &:nth-child(2n) {
                background:#383838;
            }
        }

        p {
            color: #ccc;
        }

        input {
            margin-bottom: .5rem;
        }
    }

    .button {
        background-color: inherit;
        border: 1px solid $primary-color;
        font-size: 0.875rem;
        line-height: 0.2;
        margin-bottom: 0;

        &.second {
            border: 1px solid transparent;

            &:hover {
                box-shadow: inset 0px 0px 0px 2px rgba($primary-color, 0);
                color: $primary-color;
            }
        }
    }

    #second {
        border: 1px solid transparent;

        &:hover {
            box-shadow: inset 0px 0px 0px 2px rgba($primary-color, 0);
            color: $primary-color;
        }
    }

    input {
        background: none !important;
        border: 1px solid #888;
        font-size: 0.875rem;
        line-height: 1.4;
        margin-bottom: 0;
        color: #fff;

        &[type="file"] {
            padding: .5rem;
            margin-bottom: .5rem;
        }

        &:focus {
          background: inherit;
        }

        &.error {
          border-bottom-color: #cc0000;
          border-bottom-width: 3px;
        }
    }

    textarea {
        background: none !important;
        border: 1px solid #888;
        font-size: 0.875rem;
        line-height: 1.4;
        margin-bottom: 0;
        color: #fff;
        height: 5.5rem;
    }

    ::-webkit-input-placeholder {
        color: #888;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #888;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: #888;
    }

    :-ms-input-placeholder {
        color: #888;
    }

    .tall {
        height: 7rem;
    }

    label {
        color: #ccc;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .publish {
        padding: 1rem 0;
    }
}

#playorder {
    background-color: #222;

    table {
        background-color: #333;
        border: 1rem solid #333;
        width: 100%;
        margin-bottom: 0;

        tr {
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;

            &:nth-child(2n) {
                background:#383838;
            }
        }

        td {
            vertical-align: middle;
            padding: 0 0.5rem;

            &.image {
                width: 200px;
            }

            &.actions {
                width: 25%;

                a {
                    text-decoration: underline;
                    margin-right: 1rem;

                    .auto-kal {
                        display: none;
                        position: absolute;
                    }

                    &:hover .auto-kal {
                        display: block;
                    }
                }
            }

            &.draggable {
              cursor: pointer;
            }
        }

        .anchor {
            height: 1.5rem;
        }

        h4 {
            color: #ccc;
        }

        p {
            color: #ccc;
        }

        .date {
            border: 1px solid $primary-color;
            margin-bottom: 0;
        }

        input {
            margin-bottom: 0;
        }
    }

    input {
        background-color: inherit;
        border: 1px solid $primary-color;
        font-size: 0.875rem;
        line-height: 1;
        margin-bottom: 0;
        color: #fff;

        &[type=checkbox] {
            border-radius: 0;
            -webkit-appearance:button;
            border: 1px solid $primary-color;
            background-color: transparent;
            color:$primary-color;
            width:15px;
            height:15px;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:checked {
                background-color: $primary-color;
            }

            &:disabled {
                opacity: .4;
                cursor: default;
            }
        }
    }
}


.kalendae, .kalendae.k-floating {
    width: 850px;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    border: none;
    border-top: 0;
    border-radius: 0;
    background-color: #222;
    color: #FFF;
    padding: 9px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .k-btn-next-month, .k-btn-previous-year, .k-btn-next-year, .k-btn-previous-month {
        top: 0;
    }

    .k-btn-close {
        display: none;
    }

    .k-calendar, .k-title {
        width: 190px;
        height: auto;

        .k-caption {
            font-size: 1rem;
            line-height: 1;
        }

        .k-header {
            width: 100%;
            border-bottom: 1px solid #666;
            margin-bottom: 4px;

            span {
                margin: 0;
                font-weight: normal;
                color: #FFF;
                width: 27px;
                font-weight: 300;
                font-size: 13px;
            }
        }

        .k-days {
            width: 100%;

            span.k-in-month, span.k-out-of-month {
                margin: 0;
                border: 0;
                border-radius: 0;
            }

            span.k-in-month.k-active  {
                background-color: lighten(#000, 25%);
                color: #FFF;
            }

            span.k-in-month.k-today  {
                text-decoration: none;
                background-color: lighten(#000, 50%);
            }

            span.k-in-month.k-selected  {
                background-color: #136a9f;
                color: #FFF;
            }

            span {
                width: 27px;
                height: 22px;
                font-size: 13px;
                padding-right: 7px;
                padding-top: 4px;

                &.k-out-of-month.k-active {
                    background: none;
                }
            }
        }
    }
}

.actions .kalendae {
  width: auto;
}

#org-select {
  margin-top: 1rem;
  width: auto;
  padding-right: 2rem;
  clear: both;
  display: block;
}
