// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import 'normalize';
@import 'settings';

// Make sure the charset is set appropriately
@charset 'UTF-8';

// Behold, here are all the Foundation components.
@import 'foundation/components/grid';
@import 'foundation/components/accordion';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/block-grid';
@import 'foundation/components/breadcrumbs';
@import 'foundation/components/button-groups';
@import 'foundation/components/buttons';
@import 'foundation/components/clearing';
@import 'foundation/components/dropdown';
@import 'foundation/components/dropdown-buttons';
@import 'foundation/components/flex-video';
@import 'foundation/components/forms';
@import 'foundation/components/icon-bar';
@import 'foundation/components/inline-lists';
@import 'foundation/components/joyride';
@import 'foundation/components/keystrokes';
@import 'foundation/components/labels';
@import 'foundation/components/magellan';
@import 'foundation/components/orbit';
@import 'foundation/components/pagination';
@import 'foundation/components/panels';
@import 'foundation/components/pricing-tables';
@import 'foundation/components/progress-bars';
@import 'foundation/components/range-slider';
@import 'foundation/components/reveal';
@import 'foundation/components/side-nav';
@import 'foundation/components/split-buttons';
@import 'foundation/components/sub-nav';
@import 'foundation/components/switches';
@import 'foundation/components/tables';
@import 'foundation/components/tabs';
@import 'foundation/components/thumbs';
@import 'foundation/components/tooltips';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';
@import 'foundation/components/offcanvas';
@import 'foundation/components/visibility';

@import "datepicker";

.button {
    transition: box-shadow .05s ease-in-out;

    &:hover {
        box-shadow: inset 0px 0px 0px 2px rgba(#d1a040, 1);
    }
}

a {
    &:hover {
        color: #d1a040;
    }

    &.secondary {
      color: #d1a040;
    }
}

iframe {
    margin: 0 auto;
    display: block;
    padding-top: 1rem ;
}

a {
    color: #fff;
    font-size: 0.9rem;
}

.padded {
    margin-top: 1rem;
    display: block;
}

#ap-header {
    background: #333333;
    text-align: center;
}

#header {
    padding: 2rem 0 1rem 0;

    .inline {
        display: inline-block;
    }

    h5 {
        color: #D1A040;
    }

    nav {
        ul {
            li, .menu {
                text-align: center;

                img {
                    border: 1px solid #d1a040;
                    margin-bottom: -3px;

                    &:hover {
                        border: 4px solid #d1a040;
                        margin-bottom: -3px;
                        margin-top: -1px;
                    }
                }
            }
        }
    }
}

.kalendae, .kalendae.k-floating {
    width: 960px / 12 * 3 - 30px;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    border: 1px solid #d1a040;
    border-top: 0;
    border-radius: 0;
    background-color: #222;
    color: #FFF;
    padding: 9px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .k-btn-next-month, .k-btn-previous-year, .k-btn-next-year, .k-btn-previous-month {
        top: 0;
    }

    .k-btn-close {
        display: none;
    }

    .k-calendar, .k-title {
        width: 100%;
        height: auto;

        .k-caption {
            font-size: 1rem;
            line-height: 1;
        }

        .k-header {
            width: 100%;

            span {
                margin: 0;
                font-weight: normal;
                color: #FFF;
                width: 27px;
            }
        }

        .k-days {
            width: 100%;

            span.k-in-month, span.k-out-of-month {
                margin: 0;
                border: 0;
                border-radius: 0;
            }

            span.k-in-month.k-active  {
                background-color: lighten(#000, 25%);
                color: #FFF;
            }

            span.k-in-month.k-today  {
                text-decoration: none;
                background-color: lighten(#000, 50%);
            }

            span.k-in-month.k-selected  {
                background-color: #136a9f;
                color: #FFF;
            }

            span {
                width: 27px;
                height: 22px;
                font-size: 13px;
                padding-right: 7px;
                padding-top: 4px;

                &.k-out-of-month.k-active {
                    background: none;
                }
            }
        }
    }
}

#selector {
    margin-top: 1rem;
    color: #FFF;

    .fullwidth {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: initial;
        background-color: #141414;

        .row {
            padding-top: 1.5rem;
            padding-bottom: .5rem;
        }
    }

    select, input {
        color: #FFF;
        border: 1px solid #d1a040;
        background: url("/images/arrow_down.svg") no-repeat right 10px top .9rem;
        background-color: transparent !important;
        background-size: 1rem;
        padding-right: 2rem;

        &.date {
            &:focus {
                border-bottom: 0;
            }
        }
    }

    .button {
        background-color: inherit;
        border: 1px solid #d1a040;
        font-size: 0.875rem;
        line-height: 1;
        margin-bottom: 0;
    }
}

#featured, #more {
    margin-top: 1rem;

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .button {
        background-color: inherit;
        border: 1px solid #d1a040;
        font-size: 0.875rem;
        line-height: 1;
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    h1 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1;
        margin: 0;
    }

    .author {
        color: #B3B3B3;
        font-size: .9rem;
    }

    .actors {
        color: #FFF;
    }
}
